<!-- <div class="blank_content_firstline"> -->
<!-- </div> -->

<!-- <div class="item_list"> -->
    <!-- <div class="item" *ngFor="let item of itemToDoList | async"> -->
        <span>
            <input type="checkbox" [id]="id" [checked]="done" (change)="modifyCheck($event)">
        </span>

        <!-- <a routerLink="/editor/{{item.id}}"> -->
        
        <span>
            <label for="scales" class="item_content">{{title}}</label>
        </span>

        <span class="blank_content"></span>

        <!-- </a>     -->

        <span [id]=0 class="like" *ngIf="favorite" (click)="modifyLike($event)">★</span>
        <span [id]=1 class="like" *ngIf="!favorite" (click)="modifyLike($event)">☆</span>
    <!-- </div> -->
<!-- </div> -->
