
<h1>
        Todo List
</h1>

<div class="searchBlock">
    <app-search (newItemEvent)="searchStr($event)" [searchStr]="inputStr"></app-search>
    <app-reload-button (reloadEvent)="reload()"></app-reload-button>
</div>

<div class="buttons">
    <div>
        <button (click)="sortByDescription()">Sort by Description</button>
    </div>
    <div>
        <button (click)="sortByTime()">Sort by Created Time</button>
    </div>
    <div>
        <button (click)="hideDone()">Hide Done</button>
    </div>
</div>
    
<div class="blank_content_firstline">
</div>

<div class="item_list">

    <div class="item" *ngFor="let item of itemObserve | async">
        <a routerLink="/editor/{{item.id}}">
        <app-item-list 
        [id]="item.id" [title]="item.title" [done]="item.done" [favorite]="item.favorite"
        (doneEvent)="catchDoneEvent($event)"
        (likeEvent)="catchLikeEvent($event)"
        ></app-item-list>
        </a>
    </div>  
</div>  

<!-- <app-item-list [itemListPartial]="itemListPartial" [itemToDoList]="itemObserve">

</app-item-list> -->

<div class="create">
    <a routerLink="/editor">
        <button class="create_button">Create Item</button>
    </a>
</div>
